<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <style>
        body{
            background-image: url("{{ url_for('static', filename='heart.jpeg') }}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            height: 700px;
            font-size: 30px;
            font-weight: 900;

        }
    </style>
</head>
<body>
    <h2>Heart Disease Prediction Form</h2>
    <form id="prediction-form">
        Age: <input type="number" id="age" required><br><br>
        Gender: 
        <select id="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select><br><br>
        
        Chest Pain: 
        <select id="chest_pain">
            <option value="ATA">ATA</option>
            <option value="NAP">NAP</option>
            <option value="ASY">ASY</option>
            <option value="TA">TA</option>
        </select><br><br>
        
        Resting BP: <input type="number" id="resting_bp" required><br><br>
        Cholesterol: <input type="number" id="cholesterol" required><br><br>
        
        Fasting BS: 
        <select id="fasting_bs">
            <option value="0">0</option>
            <option value="1">1</option>
        </select><br><br>

        Resting ECG:
        <select id="resting_ecg">
            <option value="Normal">Normal</option>
            <option value="ST">ST</option>
            <option value="LVH">LVH</option>
        </select><br><br>
        
        Max HR: <input type="number" id="max_hr" required><br><br>
        
        Exercise Angina: 
        <select id="exercise_angina">
            <option value="Y">Yes</option>
            <option value="N">No</option>
        </select><br><br>

        Oldpeak: <input type="number" id="oldpeak" step="0.1" required><br><br>

        ST Slope:
        <select id="st_slope">
            <option value="Up">Up</option>
            <option value="Flat">Flat</option>
            <option value="Down">Down</option>
        </select><br><br>

        <button type="button" onclick="sendPrediction()">Predict</button>
    </form>

    <h3>Prediction Result:</h3>
    <p id="result"></p>

    <script>
        function sendPrediction() {
            let data = {
                "features": [
                    document.getElementById("age").value,
                    document.getElementById("gender").value,
                    document.getElementById("chest_pain").value,
                    document.getElementById("resting_bp").value,
                    document.getElementById("cholesterol").value,
                    document.getElementById("fasting_bs").value,
                    document.getElementById("resting_ecg").value,
                    document.getElementById("max_hr").value,
                    document.getElementById("exercise_angina").value,
                    document.getElementById("oldpeak").value,
                    document.getElementById("st_slope").value
                ]
            };

            fetch("/predict", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                document.getElementById("result").innerText = "Prediction: " + result.prediction + " message : "+ result.message +  
                ", Probability: " + result.probability;
            })
            .catch(error => {
                document.getElementById("result").innerText = "Error: " + error;
            });
        }
    </script>
</body>
</html>
